.socialmedia img {
  width: 22px;
  z-index: 9999;
  cursor: pointer;
}

.facebook-img {
  position: fixed;
  right: 40px;
  top: 40%;
}

.instagram-img {
  position: fixed;
  right: 40px;
  top: 47%;
}

.up-btn {
  display: none;
  background-color: black;
  border: 1px solid white;
  position: fixed;
  right: 30px;
  top: 60%;
  padding: 10px;

  animation: fade 1s ease-in;

  z-index: 999;
}

@media screen and (max-width: 1100px) {

  .facebook-img,
  .instagram-img {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .up-btn {
    display: block;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}