body {
  background-color: #1d1d1d;
}

.header {
  padding-top: 136px;
  padding-bottom: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_Text {
  color: #ec7969;
  font-family: oswald-extralight, oswald, sans-serif;
  font-size: 55px;
  font-weight: 400;
  text-align: center;
}

.container {
  display: flex;
  margin: 0 5.1rem; /* Add space on left and right */
}

.text {
  flex: 1;
  padding: 20px;
  color: #fff;
  background-color: #262626; /* Add background color for the text div */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  font-family: questrial, sans-serif;
  letter-spacing: 2px;
  line-height: 1.4rem;
}

.image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.image img {
  max-width: 100%;
  max-height: 100%;
}
@media (min-width: 680px) and (max-width: 991px) {
  .container {
    display: flex;
    margin: 0 2rem; /* Add space on left and right */
  }
  .image img {
    width: 100%; /* Make the image width 100% to touch the left and right borders */
    height: 100%; /* Maintain the image's aspect ratio */
  }
}

@media (min-width: 1400px) {
  /* Styles for desktops */
  /* Add your CSS styles specific to desktops here */

  .text p {
    margin-top: -10rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  /* Styles for laptops */
  /* Add your CSS styles specific to laptops here */
  .text p {
    margin-top: -2rem;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 680px) {
  .header {
    padding-bottom: 30px;
  }
  .container {
    flex-direction: column;
    margin: 0;
  }

  .text {
    order: 2;
    padding: 20px;
    line-height: 1.5rem; /* Add padding to the text */ /* Add border around the text */
  }

  .image {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align the image to the top */
    padding-top: 20px; /* Add spacing between the image and text */
  }

  .image img {
    width: 100%; /* Make the image width 100% to touch the left and right borders */
    height: auto; /* Maintain the image's aspect ratio */
    max-height: 200px; /* Adjust the maximum height as per your requirement */
  }
}

.footer {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  margin: 0 5.1rem;
}

.footer .copyright {
  padding-top: 12px;
  padding-bottom: 30px;
}

.footer .copyright,
.inquiry p {
  color: #fff;
  font-size: 14px;
  text-align: left;
  font-family: questrial, sans-serif;
}

@media (max-width: 768px) {
  .footer {
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .inquiry,
  .copyright {
    text-align: center;
  }
}

