.influencers {
  background-color: var(--bg-primary);

  padding-top: 136px;
  padding-bottom: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.influencers__grid {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;

  flex-wrap: wrap;
}

.influencers__heading {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: 55px;
  font-weight: 400;

  width: 100%;

  text-align: center;
}

.influencers__pack {
  display: flex;

}

.influencers__name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 297px;
  height: 396px;


  transition: all 0.5s;
  background-color: #2c2b2b;

}

.influencers__name:hover {
  background-color: #202020;
  cursor: pointer;
}

.influencers__name:hover .paragraph {
  transform: scale(1.1)
}

.paragraph {
  transition: all 0.7s;
}

.influencers__name p {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 400;

  color: var(--secondary-color);
}

.influencers__img {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  width: 297px;
  overflow: hidden;
}

.influencers__img img {
  object-fit: cover;
  width: 100%;
  height: 396px;

  transition: all 0.7s;
}

.influencers__img img:hover {
  transform: scale(1.05);
  opacity: 0.8;
  cursor: pointer;
}

.influencers-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 15px;
}

.influencers-footer p {
  font-family: var(--secondary-font);
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
}



@media screen and (max-width:1050px) {
  .influencers__name {
    width: 11rem;
    height:20rem;
  }

  .influencers__img {
    width: 11rem;
  }

  .influencers__img img {
    height: 20rem;
  }
}

@media screen and (max-width:700px) {

  .influencers {
    padding: 140px 0px;
  }

  .influencers__name {
    width: 150px;
    height: 250px;
  }

  .influencers__img {
    width: 150px;
  }

  .influencers__img img {
    height: 250px;
  }

  .influencers__name p {
    font-size: 15px;
  }
}
@media screen and (min-width: 1300px) {
  .influencers__name {
    width: 19rem;
    height:27rem;
  }

  .influencers__img {
    width: 19rem;
  }

  .influencers__img img {
    height: 27rem;
  }
}
@media only screen and (min-width: 1050px) and (max-width: 1300px) {
  /* CSS rules for screens between 1075px and 1300px go here */
.influencers__name {
    width: 15rem;
    height:22rem;
  }

  .influencers__img {
    width: 15rem;
  }

  .influencers__img img {
    height: 22rem;
  }
}


@media screen and (min-width: 1823px) {
  .influencers__name {
    width: 25rem;
    height:29rem;
  }

  .influencers__img {
    width: 25rem;
  }

  .influencers__img img {
    height: 29rem;
  }
}

@media screen and (min-width: 2399px) {
  .influencers__name {
    width: 30rem;
    height:32rem;
  }

  .influencers__img {
    width: 30rem;
  }

  .influencers__img img {
    height: 32rem;
  }
}

.contact_footer {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  
  margin: 0 5.1rem;
}

.contact_footer .contact_copyright {
  padding-top: 12px;
  padding-bottom: 30px;
}

.contact_footer .contact_copyright,
.contact_inquiry p {
  color: #fff;
  font-size: 14px;
  text-align: left;
  font-family: questrial, sans-serif;
}

@media (max-width: 768px) {
  .contact_footer {
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .contact_inquiry,
  .contact_copyright {
    text-align: center;
  }
}