.home {
  overflow-x: hidden;

  background: url('../../assets/background-image.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;

  padding: 120px 100px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  gap: 40px;
}

.home-maindiv {
  display: flex;
  flex-direction: column;
  gap: 100px;

  padding-left: 50px;
}

.home-maindiv-secondarydiv {
  display: flex;
  flex-direction: column;
  gap: 30px
}

.home__heading {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-weight: 200;
  font-size: 180px;

  line-height: 1;
}

.home__heading-small {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: 200;
  font-size: 74px;
  margin-top: 3rem;
}

.home__heading-paragraph {
  font-family: var(--secondary-font);
  color: #ffffff;
  font-size: 17px;

  max-width: 350px;

  line-height: 1.3;
}

.home__btn {
  height: 45px;
  width: 170px;
  padding: 5px 9px;

  border: 2px var(--secondary-color) solid;
  outline: none;

  color: var(--third-color);
  background-color: var(--secondary-color);
  text-decoration: none;
  transition: all 0.5s;
}

.navlinks-btn {
  color: var(--third-color);
  text-decoration: none;
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 500;
}

.home__btn:hover {
  cursor: pointer;

  background-color: var(--third-color);
}

.home__btn:hover .navlinks-btn {
  color: var(--secondary-color);
}

.home-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 15px;
}

.home-footer p {
  font-family: var(--secondary-font);
  color: #ffffff;
  font-size: 15px;
}

.home img {
  width: 22px;
}

.facebook-img {
  position: fixed;
  right: 40px;
  top: 40%;
}

.instagram-img {
  position: fixed;
  right: 40px;
  top: 47%;
}

.message-wrapper {
  position: fixed;
  right: 25px;
  bottom: 20px;
  background-color: var(--third-color);
  padding: 20px;
}


@media screen and (max-width:660px) {
  .home {
    padding: 100px 20px;
  }

  .home__heading {
    font-size: 90px;
  }

  .home__heading-small {
    font-size: 50px;
  }

  .home-maindiv {
    padding-left: 0;
  }
  /* .home-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.home-footer p {
  font-family: var(--secondary-font);
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
} */
}