.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 40px 80px;
}

.navbar-largescreens {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar p {
  font-family: var(--primary-font);
  font-size: 30px;
  font-weight: 400;

  color: #fff;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 80px
}

.navbar ul li {
  list-style-type: none;

}

.navlinks {
  list-style-type: none;
  text-decoration: none;

  font-family: var(--secondary-font);
  font-size: 15px;
  color: #fff;
  font-weight: 200;

  transition: all 0.5s;
}

.navlinks :hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.active {
  color: var(--secondary-color);
}

.navbar__rightside-hamburger {

  padding: 20px;
  display: none;
  margin-left: auto;
}

.navbar__mobile {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  background-color: var(--bg-primary);

  padding: 8px 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  animation: slide-bottom 0.5s ease;
}

.navbar__mobile-mainlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.navlinks-mobile {
  list-style-type: none;
  text-decoration: none;

  font-family: var(--secondary-font);
  font-size: 25px;
  color: #fff;
  font-weight: 200;

  transition: all 0.5s;
}

.active {
  color: var(--secondary-color);
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.social-icons img {
  width: 20px;
}

@media screen and (max-width: 1100px) {
  .navbar {
    padding: 40px 20px;
  }

  .navbar__rightside-hamburger {
    display: block;
    width: 60px;
    height: 60px;
    object-fit: contain;
    padding: 10px;
  }


  .navbar__leftside {
    display: none;
  }
}