@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
  --primary-font: 'Oswald', sans-serif;
  --secondary-font: 'Questrial', sans-serif;

  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(236, 121, 105);
  --third-color: #1D1D1D;

  --bg-primary: rgb(29, 29, 29);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}