@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
  --primary-font: 'Oswald', sans-serif;
  --secondary-font: 'Questrial', sans-serif;

  --primary-color: #ffffff;
  --secondary-color: #ec7969;
  --third-color: #1D1D1D;

  --bg-primary: #1d1d1d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* For WebKit based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 2px;
  background-color: #1d1d1d;
   transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb {
  background-color: #ec7969;
}

/* For Firefox */
::-moz-scrollbar {
  width: 5px;
  background-color: #1D1D1D;
  transition: background-color 0.3s ease;
}

::-moz-scrollbar-thumb {
  background-color: #ec7969;
}

/* For Edge and IE */
::-ms-scrollbar {
  width: 2px;
  background-color: #1D1D1D;
    transition: background-color 0.3s ease;
}

::-ms-scrollbar-thumb {
  background-color: #ec7969;
}
